body>footer
{
    display: flex;
    justify-content:start;
    gap: 25%;
    padding-top: 30px;
    background-color: #f2f2f2;
}
body>footer>h3
{
    margin-left: 20px;
    margin-right: 20px;
}
body>footer>div
{
    margin-left: 20px;
}
body>footer>div>ul
{
    padding: 0%;
}
body>footer>div>ul{list-style: none;}

@media screen and (max-width: 768px)
{
footer{gap: 0px !important; flex-wrap: wrap;}
footer>div{flex-basis: 100% !important;padding-top: 10px;}
footer>div>ul{margin-top: 10px;}
}