  header{
      margin-left: 20px;
      margin-right: 20px;
  }
  /*logo et menu nav*/
   #en-tête
   {
       display: flex;
       justify-content: space-between;
      
   }
   #en-tête img{
       height: 50px;
   }
   /*lien ancre page*/
   nav{
       display: flex;/*definir le nav comme un conteneur flex*/
       justify-content: space-between; /*espace entre les deux lien du nav*/
       font-size: 10px; /*taille du texte dans le nav*/
       align-items: center;
   }
   /*lien ancre page activer*/
   nav a.active, nav a:hover
   {
       border-top: #0065fc solid 2px;
       color: #0065fc;
       font-weight: bold;
   }
   nav a{padding: 30px 20px 30px 20px;}
header>form{
    margin-top: 15px;
    display: flex;
    justify-content: start;
}
header>form>i{border-radius: 5px 0px 0px 5px;margin-right: 0px;line-height: 25px !important;background-color: #f2f2f2;color: black;}
header>form>input{border-radius: 0px;border: 1px solid#f2f2f2;}
header>form>button{border-radius: 0px 5px 5px 0px;background-color: #0065fc;color: white;font-size:75%;border: none;}

   /*menu filtres mise en forme*/
   #filtres
   {
       display: flex;
       margin-top: 20px;/*définir une marge entre le future formulaire et les filtres*/
       justify-content: space-between;
       width: 75%;
       align-items: center;
       flex-wrap: wrap;
   }
   /*lien filtre bloc paragraphe*/
   #filtres p
   {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
         width: 80%;
   }
     /*lien filtre*/
   #filtres p a
   {
    border: solid 2px #f2f2f2;
    border-radius: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 25px;
    padding: 5px 10px 5px 0px;
    flex-shrink: 0;
   }
   #filtres>p>a>i{margin-right: 10px;line-height: 25px;padding: 0px;}
   /*lien filtre au survol*/
   #filtres p a:hover
   {
    color: #0065fc;
    border: solid 1px rgb(183, 0, 255);
    border-radius: 5px;
   }
 
   
   #infos
   {
       margin-top: 20px;
       margin-bottom: 20px;
   }
 header i
 {
    background-color: #deebff;
    color: #0065fc;
    border-radius: 20px;
    text-align: center;
    margin-right: 10px;
    height: 25px;
    width: 25px;

 }
 @media screen and (max-width: 768px)
 {
header{margin: 0px;}
header>#en-tête{flex-wrap: wrap;justify-content: center;margin: 0px;}
header>#en-tête>img{flex-basis: 50%; margin-bottom: 10px;padding: 20px 0px 0px 50px;} /*padding a changer quand je sais comment changer d'image*/
header>#en-tête>nav{flex-basis: 100%;justify-content:space-around;margin-bottom: 20px;}
header>#en-tête>nav>a{padding: 30px 0px 30px 50px;flex-basis: 100%;padding: 30px 0px 5px 50px;border-bottom: #f2f2f2 solid 2px;}
header>#en-tête>nav>a.active, header>#en-tête>nav>a:hover {border-top: none;border-bottom: #0065fc solid 2px;}
header>h1,p,form,div{margin: 0px 20px 0px 20px;}
header>form{justify-content: center; margin-top: 20px;}
header>div#filtres{width: 100%;}
header>div#filtres>h1{flex-basis: 100%; flex-wrap: wrap;margin-bottom: 5px;}
header>div#filtres>p{flex-wrap: wrap;}
 }
 @media screen and (max-width: 992px)and(min-width: 768px){};
 @media screen and (max-width: 992px){};