/*
page entière marge et font
*/
:root
{
    font-family: raleway;/*définir la font demander*/
  
}
/*taille mise en forme des titre principaux*/
h1{
    font-size: medium;
    margin: 0px;/*annuler les marge automatiques*/
    font-weight: bold;
}
h2{
    font-size: medium;
    font-weight: bold;
}
h3{
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
}
/*taille mise en forme des paragraphe*/
p
{
    font-size:small ;
    margin: 0px;/*annuler les marge automatiques*/
}
a{font-size: small;}
#infos>i{
height: 16px;
width: 16px;
text-align: center;
line-height: 10px;
border: solid 2px #f2f2f2;
background-color: white;
}

@media screen and (max-width: 768px)
{
h1{font-size: small;}
h2{font-size: small;}
h3{font-size: small;}
p{font-size: x-small;}
}